<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Product</title>
</head>
<body>

<form th:action="@{/products/create}" th:method="POST" th:object="${product}">
    <label for="name">Name of product</label>
    <input name="name" id="name" th:field="*{name}"/>
    <br/>
    <label for="price">Price of Product</label>
    <input name="price" id="price" th:field="*{price}" />
    <br/>
    <input type="hidden" th:field="*{id}">
    <input type="submit"/>
</form>

</body>
</html>