<!DOCTYPE html>
<html lang="en">
<head th:replace="fragment.html :: header">
    <meta charset="UTF-8">
    <title>Create a post</title>
</head>
<body>
<nav th:replace="fragment.html :: navbar"></nav>
<h1> Please create your new post</h1>

<p><span id='date-time'></span></p>
<form action="/posts/create" method="post">
    <div class="form-group">
        <label for="tittle">Title</label>
        <input id="tittle" name="tittle" class="form-control" type="text">
        <label for="body">Create post</label>
        <textarea id="body" name="body" class="form-control" type="text"></textarea>
        <select name="user" id="user">
            <option th:each="user : ${users}" th:text="${user.username}" th:value="${user.id}"></option>
        </select>
    </div>
    <input type="submit" class="btn btn-block btn-primary">
</form>



</body>
</html>